header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body { color: blue;
    background-color: blueviolet;
    background-image: url();
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px;}

    .wrapper {
        width: 940px;
        margin: 20px auto 20px auto;
        border: 2px solid orange;
        background-color: brown;}

        header {}