

div  {
    margin: auto;
    

}


.boxone{
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.boxone:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



.boxtwo {
    width: 50px;
    height: 50px;
    background: blue;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxtwo:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



.boxthree {
    width: 50px;
    height: 50px;
    background: green;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxthree:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxfour {
    width: 50px;
    height: 50px;
    background:orange;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxfour:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.boxfive {
    width: 50px;
    height: 50px;
    background: aqua;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxfive:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxsix {
    width: 50px;
    height: 50px;
    background: blueviolet;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxsix:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.boxseven {
    width: 50px;
    height: 50px;
    background: brown;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxseven:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.boxeight {
    width: 50px;
    height: 50px;
    background:chartreuse;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxeight:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxnine {
    width: 50px;
    height: 50px;
    background:  crimson;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxnine:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxten {
    width: 50px;
    height: 50px;
    background: coral;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxten:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxeleven {
    width: 50px;
    height: 50px;
    background: fuchsia;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxeleven:hover{
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boxtwelve {
    width: 50px;
    height: 50px;
    background: gold;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.boxtwelve:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    
}


