

div  {
    margin: auto;
    

}


.one{
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.one:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation: large 5s ease-in-out .2s 1 forwards;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}



.two {
    width: 50px;
    height: 50px;
    background: blue;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.two:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



.three {
    width: 50px;
    height: 50px;
    background: green;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.three:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.four {
    width: 50px;
    height: 50px;
    background:orange;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.four:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.five {
    width: 50px;
    height: 50px;
    background: aqua;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.five:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.six {
    width: 50px;
    height: 50px;
    background: blueviolet;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.six:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.seven {
    width: 50px;
    height: 50px;
    background: brown;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.seven:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.eight {
    width: 50px;
    height: 50px;
    background:chartreuse;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.eight:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nine {
    width: 50px;
    height: 50px;
    background:  crimson;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.nine:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ten {
    width: 50px;
    height: 50px;
    background: coral;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.ten:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.eleven {
    width: 50px;
    height: 50px;
    background: fuchsia;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.eleven:hover{
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-play-state: running;
}

.twelve {
    width: 50px;
    height: 50px;
    background: gold;
    transition: width 2s;
    cursor: pointer;
    transition: 1s;
}

.twelve:hover {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    
}

.sqr {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: relative;
}

.large { 
    animation: large 5s ease-in-out .2s 1 forwards;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.go:hover .large { 
    animation-play-state: running;

}


@keyframes large {
    0% {
        left:0px; top:0px;
        transform: rotate(0deg) scale(1); 
    }
    20% {
        left:0px; top:0px;
        transform: rotate(0deg) scale(2); 
    }
    100% {
        left:500px; top:0px;
        transform: rotate(360deg) scale(2); 
    }
}


.small { 
    animation: small 3s ease-in-out .2s 1 forwards;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.go:hover .small { 
    animation-play-state: running;
}

/* name duration timing delay count direction */

@keyframes small {
    0% {
        left:0px; top:0px;
        transform: rotate(0deg) scale(1);
    }
    50% {
        left:0px; top:0px;
        transform: rotate(0deg) scale(.5); 
    }
    100% {
        left:-500px; top:0px;
        transform: rotate(-360deg) scale(.5); 
    }
}